.contactus {
    font-family: "Montserrat", sans-serif;
    color: #646f88;
    font-weight: 300;
  }
  
  .contactus h1,
  .contactus h2,
  .contactus h3,
  .contactus h4,
  .contactus h5,
  .contactus h6 {
    color: #3e4555;
  }
  
  .contactus .font-weight-medium {
    font-weight: 500;
  }
  
  .contactus .card-shadow {
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  }
  
  .contactus .btn-danger-gradiant {
    background: #000221;
    border-radius: 5px;
  }
  
  .contactus .btn-danger-gradiant:hover {
    background: #f0bc41;
  }