.default-section {
    position: relative;
    padding: 20px 0px 0px;
}

.auto-container {
    position: static;
    max-width: 1400px;
    padding: 0px 15px;
    margin: 0 auto;
}

.sec-title {
    position: relative;
    margin-bottom: 55px;
}

.sec-title h2 {
    font-size: 42px;
    color: #080808;
    font-weight: 700;
    line-height: 1.1em;
    padding-bottom: 18px;
    font-family: 'Heebo', sans-serif;
}

.sec-title .separater {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 80%;
    height: 3px;
    background-color: #7D3970;
}